
{% extends "basepage.html" %}
{% block title %} Episode creation {% endblock %}
{% block content %}


    <section class="vh-100" style="background-color: #ffffff;">

    <div class="row d-flex justify-content-center align-items-center h-0">
      <div class="col-xl-9">

        <h1 class="text-black mb-4">Create a new episode!</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token %}

                {{ form.as_p }}

                <input class="btn btn-success" type="submit" value="Create">

            </form>


          </div>
        </div>

      </div>
    </div>

</section>

{% endblock %}
