{% extends "basepage.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>Pagina di Login</h1>
    <p>Si prega di compilare i campi necessari</p>
    {% if "notok" in request.GET.auth %}
        <div class="alert alert-danger" role="alert">
        Si è arrivati qui in quanto non si dispone dei permessi necessari per il servizio scelto!
        </div>
    {% endif %}

    <form method="post"> {% csrf_token %}

      {{form | crispy}}

      <input type="submit" class="btn btn-success" value="Esegui login">

    </form>
{% endblock %}
