{% extends "basepage.html" %}
{% block title %} homepage {% endblock %}
{% block add_link %}<li><a class="dropdown-item" href="{% url "profileManagementApp:user_settings" pk=user_profile.pk %}">Profile settings</a></li>{% endblock %}
{% block content %}
    <h1> All podcasts </h1>
    <ul>
    {% for podcast in podcasts %}
        <li>{{ podcast.title }} - {{ podcast.description}} -
            <a href={% url "podcastapp:podcast_episodes" podcast.pk %}><img src="{{podcast.cover.url}}" alt="Smiley face" width="250" height="250"> </a>
        </li>
    {% empty %}
        <li>No podcast yet</li>
    {% endfor %}

    </ul>

{% endblock %}

